html{
	background: #000033 url(island.gif) no-repeat center center fixed;
	font-family: Comic Sans MS, Arial;
	font-size: 24px;
	color: #330033;
}

header{
	margin-top: 100px;
}

a{
	color: #00ffff;
	text-decoration: none;
	padding: 20px;
	display: block;
}

.menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
li{
	margin-right: 30px;
}
li:hover{
	background: #000033;
}
a:hover{
	color: #ffffff;
	box-shadow: 10px 20px 50px -20px #ffffff;
	transition: all 0.5s ease;
}
.menu li ul{
	position: absolute;
	min-width: 150px;
	border: 2px #ffffff;
}








