*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #000077 url(sky.jpg);
}

.wrapper{
	width: 200px;
	margin: 200px auto;
}

.btn{
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #aaffff;
	text-decoration: none;
	font-family: Comic Sans MS; Arial;
	font-size: 18px;
	text-align: center;
	position: relative;
}

svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

svg rect{
	width: 100%;
	height: 100%;
	fill: transparent;
	stroke: #aaffff;
	stroke-width: 5px;
	stroke-dasharray: 10px 180px 20px 50px 20px 180px 20px 50px 10px;
	transition: 3s all;
} 

.btn:hover rect{
	stroke-dasharray: 200px 0 70px 0 200px 0 70px 0;
}

.btn:click rect{
	color: #aaaaff;
}








