body {
	background: #00ff00 url(background-2.png)
		}
div {
	font-size:50px;
	width:150px;
	margin-right: 10px;
	text-align: center;
	border-radius: 30px
		}
img {
	float:right;
	height:100px
		}

.lime {
	color:#ffffff;
	background-color:#00ff00
		}
.pink {
	color:#cccccc;
	background-color:#ff7777
		}
.assure {
	color:#ffff00;
	background-color:#77ffff
		}
.yellow {color:#00ff00;
	background-color:#ffff00
		}
