head {
	link rel="shortcut icon" href="sci.png"
		}
body {
	color: #ffffff;
	font-size: 20px;
	font-family: Comic sans MS, Arial;	
	text-align: center
		}
.header {
	width: 100%;
	height: 200px;
	border: 3px solid #0000ff;
	font-weight: bold;
	background: url(bg-h.png)
		}
.sidebar {
	float: right;
	width: 30%;
	height: 2200px;
	border: 3px solid #0000ff;
	background: url(bg-s.png)
		}
.content {
	width: 70%;
	height: 2000px;
	border: 3px solid #000000;
	background: url(bg-c.png)
		}
.footer {
	width: 70%;
	height: 200px;
	border: 3px solid #333333;
	background: url(bg-f.png)
		}
.dws-menu {
	hover:
		}