body {
	color:white
		}
div {
	background-color:#ff00ff
		}
a {
	color:pink;
	font-size:20px
		}
table {
	color:lime;
	border-color:purple;
	border-width:5px
		}
ul {
	font-size:50px;
	color:#ffff77
		}
#price {
	background-color:#ff7700
		}
#vitya {
	background-color:#ff77ff
		}
#gallery {
	background-color:#ffff00
		}
[href="catalog.html"] {
	color:#00ffff
		}
